*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Keystore & Signing Secrets
*.jks
keystore.properties
/app/release/

# Firebase configuration
google-services.json
/app/google-services.json
